<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: White (2015-09-16 11:52)</string>
	<string>M6.6.2-2571-1</string>
	<string>M7.0.5-4052-1</string>
	<string>M7.2-4582-1</string>
	<string>M7.3-5046-3</string>
	<string>M7.3.1-5249-2</string>
	<string>M8.0-5576-2</string>
	<string>M8.0.1-5579-2</string>
	<string>M8.1-5683-2</string>
	<string>M8.2-5869-2</string>
	<string>M8.3-5989-2</string>
	<string>M9.2.1-6529-2</string>
	<string>M10.0-6748-2</string>
</array>
</plist>
